a{
text-decoration: none;
color: black ;
cursor: pointer;
}
.seccion1{
    border: 2px solid black;
    flex-wrap: nowrap ;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.PortadaIzq {
    display: flex;
    background-color: #ebe6e6;
    flex-direction: column;
    padding: 10px;
    width: 60%;

}
.arriba {
    font-size: xx-large;
    display: flex;
    height:700px ;
    justify-content: center;
    align-items: center;
}
.abajo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px 5px 26px 4px rgb(121, 115, 108) ;
    height: 100px;   
    align-items: center;    
}
.PortadaDch{
    width: 40%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: #a7a18d;
    justify-content: space-around;
}
.texto{
    padding: 3rem;
}


.Yo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: #f7dcac;
    border: 1px solid #6b6262;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .Nombre{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .Proyectos {
    width: 400px;
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
  
  
  .Tarjeta {
    flex: 0 0 300px; 
    margin-right: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Tarjeta:last-child {
    margin-right: 0; 
  }
  
  .Proyectos::-webkit-scrollbar {
    display: none; 
  }
  .abajo a{
    
   
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .abajo a:active {
    transform: scale(0.95);
  }