.PortadaIzq {
    display: flex;
    background-color: #ebe6e6;
    min-height: 1000px;
    max-width: 60%;
    flex-direction: column;
}
.arriba {
    font-size: xx-large;
    display: flex;
    height:700px ;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.abajo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 4px 4px 4px 4px;
    
}